<div id="ajax-content">
    <h3>fixodent touch/rfid experience</h3>
    <div id="content-container">
        <iframe id="ytplayer" src="//www.youtube.com/embed/j3NAAyjQ3F0"></iframe>
    </div>
    <p>i created a touch screen and rfid experience for a nascar event at the kentucky speedway. using product boxes with rfid tags on them, a user could place the box on the scanner to get more information about that product, or place two products side by side to compare and contrast them.</p>
</div>