<div id="ajax-content">
    <h3>folgers history timeline</h3>
    <a href="https://www.facebook.com/folgers/app_326705964084204" target="_blank"><img src="./assets/images/folgers.jpg" alt="Folgers History Timeline"></a>
    <p>i was in charge of front-end development on this piece for folgers. their previous timeline was built in flash and they wanted it updated to use html, css, and javascript.</p>
    <a href="https://www.facebook.com/folgers/app_326705964084204" target="_blank">visit the site</a>
</div>