<div id="ajax-content">
    <h3>hunts homepage carousel</h3>
    <a href="http://www.hunts.com" target="_blank"><img src="./assets/images/hunts.jpg" alt="Hunts Homepage"></a>
    <p>i was in charge of front-end development on this piece for hunts. their previous carousel was built in flash and they wanted it updated to use html, css, and javascript.</p>
    <a href="http://www.hunts.com" target="_blank">visit the site</a>
</div>