<div id="ajax-content">
    <h3>healthy choice one little bite</h3>
    <a href="./professional-works/one-little-bite/index.html" target="_blank"><img src="./assets/images/one-little-bite.jpg" alt="One Little Bite"></a>
    <p>healthy choice released new meals and launched an online coupon campaign. to spice it up we sent someone up in a hot air balloon to toss out boxes with "one little bite" of healthy choice. ok, not really, but this is the flash piece we created for their campaign.</p>
    <a href="./professional-works/one-little-bite/index.html" target="_blank">view the site</a>
</div>