<div id="ajax-content">
    <h3>possible holiday tree</h3>
    <div id="content-container">
        <iframe id="ytplayer" src="//www.youtube.com/embed/oErv8bEQ-i8"></iframe>
    </div>
    <p>as part of our annual holiday card, possible commissioned the use of a pneumatic tree guitar created by clippard minimatic in cincinnati. i created the hardware interaction interface and api to communicate with the internal hardware of the tree. I then created two interactive user interfaces to control the instrument: a sequencer application, and a more experimental interaction, both using a 47" touch screen.</p>
</div>