<div id="ajax-content">
    <h3>ready set eat recipe finder</h3>
    <a href="http://www.readyseteat.com/" target="_blank"><img src="./assets/images/ready-set-eat.jpg" alt="Ready Set Eat Recipe Finder"></a>
    <p>a flash based tool created to help users find quick, easy recipes using ingredients specified by custom filters. this project integrated with javascript and loaded dynamic external recipe information. i was in charge of all actionscript programming and javascript integration for the tool.</p>
    <p>hungry? <a href="http://www.readyseteat.com/" target="_blank">find a recipe</a></p>
</div>