<div id="ajax-content">
    <h3>scent bot</h3>
    <img src="./assets/images/scent-bot-all.jpg" alt="Scent Bot"/>
    <p>as part of the labs group, an employee came to me with the idea of creating a febreze branded scent emitter controlled by a smartphone. we made that idea a reality. using an arduino board, two servos and two fans, a bluetooth communication module, custom 3D printed parts, and an android application, we created the scent bot. it housed two febreze scents that could be turned on and off, and adjusted to a variable amount of scents emitted. i was in charge of the arduino programming, android programming, and bluetooth integration for the project. i also contributed to the physical and mechanical engineering of how the device would meter the amount of scent it emitted.</p>
    <img src="./assets/images/scent-bot-app.jpg" alt="Scent Bot"/>
    <img src="./assets/images/scent-bot-parts.jpg" alt="Scent Bot">
    <div id="content-container">
        <iframe id="ytplayer" src="//www.youtube.com/embed/rrXb1iZ6w30"></iframe>
    </div>
</div>