<div id="ajax-content">
    <h3>smuckers corporate site</h3>
    <a href="http://www.jmsmucker.com" target="_blank"><img src="./assets/images/smuckers-corporate.jpg" alt="Smucker's Corporate Site"></a>
    <p>a new responsive site for smucker's brand. i was in charge of front-end development (html, css, javascript, image slicing, etc) on this project.</p>
    <a href="http://www.jmsmucker.com" target="_blank">visit the site</a>
</div>