<div id="ajax-content">
    <h3>vicks breathe for life</h3>
    <a href="http://awardshome.com/cannes2012/vicks-breathe-for-life-pneumonia-project-experience/" target="_blank"><img src="./assets/images/vicks.jpg" alt="Vick's Breathe For Life"></a>
    <p>this was one of the last major flash applications i worked on. i created an interactive breath donation platform that utilized a users microphone input to blow up a virtual ballon. i was in charge of all actionscript programming for the experience.</p>
    <a href="http://awardshome.com/cannes2012/vicks-breathe-for-life-pneumonia-project-experience/" target="_blank">try it yourself</a>
</div>