<div id="ajax-content" class="resume">
    <h3>r&eacute;sum&eacute;</h3>
    <img src="./assets/images/resume.jpg" alt="Resume of Paul J Dehmer">
    <a href="./assets/pdf/pauljdehmer-resume.pdf">download pdf</a>
</div>