@charset "UTF-8";

/******************************************************************************/
/* START RESET */
/******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************************/
/* END RESET */
/******************************************************************************/

/******************************************************************************/
/* GLOBALS */
/******************************************************************************/

html {
	overflow-y: scroll;
}

body {
	background-color: rgb(130,87,33);
	background-image: url("../images/background.gif");
	color: rgb(255,255,255);
	font-family: "Times New Roman", Georgia, Serif;
	min-width: 294px;
	overflow-x: hidden;
}

.lt-ie9 body {
	min-width: 900px;
}

#page-container {
	width: 100%;
}

header {
	text-align: center;
}

header > img {
	margin: 0 10px;
}

h2 {
	text-transform: uppercase;
}

h2 span {
	display: none;
	text-transform: none;
}

p {
	margin: 0 0 15px 0;
}

#content {
	margin: 0 auto;
	max-width: 1000px;
}

section {
	background-color: rgb(0,0,0);
	border: double thick rgb(255,255,255);
	margin: 0 auto;
	padding: 10px;
	width: 80%;
}

section > div > div > .close {
	cursor: pointer;
	display: none;
	padding: 0;
}

section > div > div {
	padding: 15px 0 0 0;
}

section > div > div > span {
	display: block;
	margin: 0 0 5px 0;
}

section > div > div > ul {
	list-style: disc;
	padding: 0 0 15px 40px;
}

img {
	max-width: 90%;
}

hr {
	margin: 30px auto;
	width: 40%;
}

a {
	color: rgb(255,255,255);
}

@media screen and (max-width: 600px) {
	header > img {
		max-width: 50%;
	}
	section > div {
		height: 0;
		overflow: hidden;
	}
	
	.open > div {
		-webkit-transition: height 500ms cubic-bezier(0, 0, 0.2, 1);
		transition: height 500ms cubic-bezier(0, 0, 0.2, 1);
	}
	
	section > div > div > ul {
		padding: 0 0 15px 40px;
	}
	
	section > div > div > p:last-child {
		display: block;
	}
	
	h2 {
		cursor: pointer;
	}
	
	h2 span {
		display: inline;
	}
	
	h2:hover span span {
		text-decoration: underline;
	}
}

/******************************************************************************/
/* END GLOBALS */
/******************************************************************************/

/******************************************************************************/
/* NAV */
/******************************************************************************/

nav {
	padding: 20px 0;
	position: relative;
	text-align:center;
}

nav img {
	margin: 10px;
	vertical-align: middle;
}

nav ul {
	background-color: rgb(0,0,0);
	border: double thick rgb(255,255,255);
	display: inline;
	height: 32px;
	margin: 0 auto;
	padding: 5px;
}

nav ul li {
	display: inline;
	margin: 0 10px;
}

nav ul li span:hover {
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	nav img {
		vertical-align: baseline;
	}
	nav ul {
		display: inline-block;
		height: auto;
	}
	nav ul li {
		display: block;
		margin: 10px 20px;
	}
}

/******************************************************************************/
/* END NAV */
/******************************************************************************/

/******************************************************************************/
/* FOOTER */
/******************************************************************************/

footer {
	padding: 20px 0;
	position: relative;
	text-align:center;
}

footer > a {
	display: block;
	margin: 0 auto;
	width: 38px;
}

footer img {
	display: block;
	margin: 0 auto 20px auto;
}

footer > div > img {
	display: inline;
}

/******************************************************************************/
/* END FOOTER */
/******************************************************************************/

/******************************************************************************/
/* POPUP */
/******************************************************************************/

.loading #page-container {
	position: fixed;
}

#modal {
	background-color: rgba(0,0,0,.8);
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.csstransitions #modal, .csstransitions #load-error, .csstransitions .loading #loading {
	-webkit-transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1);
}

#load-error, #loading {
	bottom: 0;
	height: 25px;
	left: 0;
	margin: auto;
	opacity: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 50%;
	z-index: 2;
}

#popup-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#popup-container {
	box-sizing: border-box;
	cursor: pointer;
	height: 100%;
	opacity: 0;
	padding: 0 20px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	width: 100%;
	z-index: 3;
}

.csstransitions #popup-container {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1), transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

#popup {
	cursor: default;
	background: rgb(255,255,255);
	display: inline-block;
	max-height: 90%;
	max-width: 700px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 90%;
	z-index: 4;
}

.loading #modal {
	opacity: 1;
	position: fixed;
}

.visible #modal {
	visibility: visible;
}

.loading #loading {
	opacity: 1;
	visibility: visible;
}

.loading.loaded #loading, .loading.load-error #loading {
	opacity: 0;
	visibility: hidden;
}

.loading.load-error #load-error, .loading #popup-container {
	opacity: 1;
	visibility: visible;
}

.csstransitions .open #popup-container {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#popup-container #close-button {
	background: url('../images/x.gif') no-repeat center;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: 1;
}

#ajax-content {
	background: rgb(255,255,255);
	color: rgb(0,0,0);
	margin: 10px auto;
	max-width: 700px;
	padding: 20px 0;
	position: relative;
	width: 90%;
}

#ajax-content #content-container {
	height: 0;
	margin: 35px 0;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
}

#ajax-content iframe,
#ajax-content object,
#ajax-content embed {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#ajax-content img {
	box-shadow: 0 0 5px 3px rgb(220,220,220);
	display: block;
	margin: 20px auto;
}

#ajax-content a {
	color: rgb(0,0,0);
}

/******************************************************************************/
/* END POPUP */
/******************************************************************************/